type mac_addr_normalization, domain, domain_deprecated;
type mac_addr_normalization_exec, exec_type, file_type;

init_daemon_domain( mac_addr_normalization)
