type thermal-daemon, domain, domain_deprecated;
type thermal-daemon_exec, exec_type, file_type;

init_daemon_domain(thermal-daemon)

allow thermal-daemon sysfs_devices_system_cpu:file rw_file_perms;

allow thermal-daemon self:capability2 wake_alarm;
